# OS
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log

# Local Arduino CLI cache/toolchains
.arduino-cli/
tools/arduino-cli/

# Arduino build outputs
*.hex
*.elf
*.eep
*.map
*.bin
build/

# KiCad backups/temp
*-backups/
*.bak
*.kicad_prl
*.kicad_sch-bak
*.kicad_pcb-bak
fp-info-cache

# LaTeX
*.aux
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Archives
*.zip
*.rar
